:root {
    --primary-color: #3498db;
    --secondary-color: #e74c3c;
    --font-family: Arial, sans-serif;
}


@font-face {
    font-family: FontSpring;
    src: url("/assets/fonts/Fontspring-regular.otf") format("opentype");
}

@font-face {
    font-family: FontSpring;
    font-weight: bold;
    src: url("/assets/fonts/Fontspring-bold.otf") format("opentype");
}

body {
    font-family: var(--font-family);
    background-color: #000000;
    color: #F5F5F5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Hover effect for the button */
button:hover {
    background-color: #2980b9;
}

input{
    margin: 4px 2px;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
}

input[type=submit]{
    background-color: var(--secondary-color);;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
}

.navbar{
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 13vw;
    min-width:170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    border-right: 1px solid #262626;
    background-color: #000000;
    padding: 5px;
}

.navbar div{
    display: flex;
    flex-direction: column;
    margin: 4px 2px;
    padding: 10px;

}

.navbar button{
    border: none;
    border-radius: 15px;
    background-color: transparent;
    text-align: left;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.navbar a{
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    height: fit-content;
}

.auth-form{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    min-width: 350px;
}

.main{
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 10px;
    background-color: #DBDBDB;
    height: 468px;
    width: 468px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img{
    width: fit-content;

}

.logo{
    font-family: 'FontSpring';
    font-size: 30px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.navbar a:hover{
    background-color: #262626; 
}