<!DOCTYPE html>
<html>
<head>
    <title>Camagru</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">
</head>
<body>
    <div class="auth-container">
        <div class="auth-form">
            <h2 class="logo">Camagru</h2>
            <h3>Signup to post pictures</h3>
            <form method="post" action="signup">
                <input type="text" id="username" name="username" placeholder="Username"><br><br>
                <input type="email" id="email" name="email" placeholder="Email"><br><br>
                <input type="password" id="password" name="password" placeholder="Password"><br><br>
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="auth-form">
            <span>Already have an account ?</span><a href="/login">login</a>
        </div>
    </div>
</body>
</html>
